@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}



.theme-light {
    --color-primary: #ffff;
    --color-secondary: #ffff;
    --color-card: #ffff;
    --color-text-primary: rgb(0, 0, 0);
    --reverse-color-text-primary: rgb(0, 0, 0);
    --color-text-secondary: rgb(14, 14, 14);
    --revers-color-text-secondary: rgb(14, 14, 14);
}

.theme-dark {
    --color-primary: #121212;
    --color-secondary: #181818;
    --color-card: #404040;
    --color-text-primary: #ffff;
    --reverse-color-text-primary: #383838;
    --color-text-secondary: #b3b3b3;
    --revers-color-text-secondary: #b3b3b3;
}

body {
    overflow-x: hidden;
}

html,
body,
section,
footer {
    background-color: var(--color-primary);
    z-index: 5;
    position: relative;
    color: var(--color-text-primary);
    transition: top 0.3s, background-color 0.4s ease-out;
}

h1,
h2,
h3,
h4,
h5,
h6,
li,
.subheading,
a,
.theme-dark,
strong, {
    color: var(--color-text-primary) !important;
}


.my-component, #blazor-error-ui {
    color: var(--reverse-color-text-primary) !important;
}


.form-label,
p,
label,
small,
.form-control, thead, td {
    color: var(--color-text-secondary) !important;
}

.alert-secondary strong, a {
    color: unset !important;
}

.navbar, .sidenav {
    background-color: var(--color-secondary) !important;
}

.bottom-line-hover {
    position: relative;
}

    .bottom-line-hover:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: var(--hover-color);
        visibility: hidden;
        transform: scaleX(0);
        transition: 0.3s ease-in-out;
    }

    .bottom-line-hover:hover:before {
        visibility: visible;
        transform: scaleX(1);
    }

#mainNav {
    transition: top 0.3s, background-color 0.4s ease-out;
}



.bg-Linux {
    background-color: #fd6f53 !important;
}

.bg-VSCode {
    background-color: cornflowerblue !important;
}

.markdown-body p a {
    text-decoration: underline;
}

.widget-body label {
    padding: 5px 0;
}



a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red !important;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.cursor-pointer {
    cursor: pointer;
}
