@inject NavigationManager NavigationManager
@inject IJSRuntime js;
<!-- Sidenav-->
<div id="sidenav-1" class="sidenav" data-mdb-mode="side" data-mdb-slim="true" data-mdb-slim-collapsed="false"
     data-mdb-content="#slim-content">

    <!-- Default switch -->
    <div class="form-check form-switch d-flex justify-content-center m-3">
        <input class="form-check-input " type="checkbox" id="flexSwitchCheckDefault" @bind="Wasm" style="margin-right: unset;" />
        <label class="form-check-label ps-1" for="flexSwitchCheckDefault"><span data-mdb-slim="false"> WebAssembly</span></label>
    </div>

    <br>
    <ul class="sidenav-menu">
        <li class="sidenav-item mb-3">
            <div id="slim-toggler" class="sidesidenav-link cursor-pointer" style="
                display: flex;
                justify-content: center;">
                <i class="fas fa-arrows-alt-h fa-2x"></i>

            </div>
        </li>


        <li class="sidenav-item">
            <NavLink class="sidenav-link" href="" Match="NavLinkMatch.All">
                <div class="center"> <i class="fas fa-home "></i> </div><span class="ps-1" data-mdb-slim="false">Home</span>
            </NavLink>
        </li>

        <li class="sidenav-item">
            <NavLink class="sidenav-link" href="counter">
                <div class="center"> <i class="fas fa-plus "></i></div> <span class="ps-1" data-mdb-slim="false">Counter</span>
            </NavLink>
        </li>
        <li class="sidenav-item">
            <NavLink class="sidenav-link" href="fetchdata">
                <div class="center"><i class="fas fa-server "></i></div><span class="ps-1" data-mdb-slim="false"> Fetch data </span>
            </NavLink>
        </li>
        <li class="sidenav-item">
            <NavLink class="sidenav-link" href="css-isolation">
                <div class="center"><i class="fab fa-css3-alt "></i></div><span class="ps-1" data-mdb-slim="false"> CSS isolation </span>
            </NavLink>
        </li>
        <li class="sidenav-item">
            <NavLink class="sidenav-link" href="js-isolation">
                <div class="center"> <i class="fab fa-js "></i></div><span class="ps-1" data-mdb-slim="false"> JavaScript isolation </span>
            </NavLink>
        </li>
        <li class="sidenav-item">
            <NavLink class="sidenav-link" href="file-upload">
                <div class="center"> <i class="fas fa-upload "></i></div><span class="ps-1" data-mdb-slim="false"> File upload</span>
            </NavLink>
        </li>
        <li class="sidenav-item">
            <NavLink class="sidenav-link" href="input-radio">
                <div class="center"> <i class="fas fa-keyboard "></i></div><span class="ps-1" data-mdb-slim="false"> InputRadio</span>
            </NavLink>
        </li>
        <li class="sidenav-item">
            <NavLink class="sidenav-link" href="virtualization">
                <div class="center"> <i class="fas fa-cloud "></i></div><span class="ps-1" data-mdb-slim="false"> Virtualization</span>
            </NavLink>
        </li>
        @if (!wasm)
        {
            <li class="sidenav-item">
                <NavLink class="sidenav-link" href="persisted-counter">
                    <div class="center"> <i class="fas fa-box-open "></i></div><span class="ps-1" data-mdb-slim="false"> Protected browser storage</span>
                </NavLink>
            </li>
        }


        <li class="sidenav-item">
            <NavLink class="sidenav-link" href="ui-focus">
                <div class="center"><i class="fas fa-grip-lines-vertical "></i></div><span class="ps-1" data-mdb-slim="false"> Set UI focus</span>
            </NavLink>
        </li>

        <li class="sidenav-item">
            <NavLink class="sidenav-link" href="influence-html-head">
                <div class="center"><i class="fab fa-html5 "></i></div>  <span class="ps-1" data-mdb-slim="false">Influence the HTML head</span>
            </NavLink>
        </li>
        @if (wasm)
        {
            <li class="sidenav-item">
                <NavLink class="sidenav-link" href="lazy-loading">
                    <div class="center"> <i class="fas fa-spinner "></i></div><span class="ps-1" data-mdb-slim="false"> Lazy loading</span>
                </NavLink>
            </li>

            <li class="sidenav-item">
                <NavLink class="sidenav-link" href="wasm-prerendering">
                    <div class="center"> <i class="fas fa-stream "></i></div><span class="ps-1" data-mdb-slim="false"> WebAssembly prerendering</span>
                </NavLink>
            </li>
        }

    </ul>


</div>
<!-- Sidenav-->

@code {

    private bool wasm;


    protected override void OnInitialized()
    {
        wasm = new Uri(NavigationManager.Uri).Query.Contains("wasm");



    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            await ImportJs();
        }

    }

    private async Task ImportJs()
    {
         await js.InvokeAsync<IJSObjectReference>("import", "./js/sidenav.js");

    }



    private bool Wasm
    {
        get => wasm;
        set
        {
            if (wasm == value) return;
            wasm = value;
            var uriBuilder = new UriBuilder(NavigationManager.Uri);
            if (wasm)
            {
                uriBuilder.Query = "wasm";
            }
            else
            {
                uriBuilder.Query = String.Empty;
            }
            NavigationManager.NavigateTo(uriBuilder.ToString(), forceLoad: true);
        }
    }

}
